nav {
  background: black;
  height: 60px;
  left: 0;
  position: absolute;
  text-decoration: none;
  right: 0;
  top: 0;
  z-index: 100;
}
nav li {
  display: inline-block;
  padding-right: 70px;
  font-size: 16px;
}
nav li > a {
  /*color is off white*/
  color: #e6e6e6;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
